// ==========================================================================
// Animations
// ==========================================================================

// Pulse Animation
// ==========================================================================

@include keyframes(pulse-1) {
  0% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  100% {
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    opacity: 0;
  }
}

// Ripple Animation
// ==========================================================================

@include keyframes(ripple) {
  0%, 35% {
    @include transform(scale(0));
    opacity: 1;
  }
  50% {
    @include transform(scale(1.5));
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    @include transform(scale(2));
  }
}

// Button Border Animations
// ==========================================================================

@include keyframes(left) {
  0% {
    @include transform(translateX(100%));
  }
  100% {
    @include transform(translateX(-100%));
  }
}

@include keyframes(right) {
  0% {
    @include transform(translateX(-100%));
  }
  100% {
    @include transform(translateX(100%));
  }
}

@include keyframes(top) {
  0% {
    @include transform(translateY(100%));
  }
  100% {
    @include transform(translateY(-100%));
  }
}

@include keyframes(bottom) {
  0% {
    @include transform(translateY(-100%));
  }
  100% {
    @include transform(translateY(100%));
  }
}

// Scroll Items Animation (for logo scroller)
// ==========================================================================

@include keyframes(scrollItems) {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
