// ==========================================================================
// Header & Navigation
// ==========================================================================

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-header;
  background: $white;

  .logo {
    padding-right: 5px;
  }

  .navbar {
    padding: 0;
    padding-left: 9px;

    .navbar-nav {
      .nav-item {
        &:last-child {
          padding-right: 0;
        }

        .nav-link {
          padding: 47px 25px;
          font-size: 18px;
          line-height: 100%;
          font-weight: $font-weight-semibold;
          color: $dark-color;
          position: relative;

          &:hover {
            color: $primary-color;
          }
        }

        // Dropdown Menu
        &.dropdown {
          .dropdown-menu {
            display: block;
            margin-top: -30px;
            border: 0;
            @include border-radius(0);
            padding: 0;
            width: 220px;
            @include box-shadow(0 10px 30px 0 rgba(25, 25, 25, 0.15));
            opacity: 0;
            visibility: hidden;
            @include transition(all, 0.3s, ease-in);

            .dropdown-item {
              font-size: $font-size-base;
              line-height: 100%;
              font-weight: $font-weight-semibold;
              padding: 0 20px;
              border-bottom: 1px solid rgba(25, 25, 25, 0.1);
              @include transition(all, 0.3s, ease-in);

              &:last-child {
                border-bottom: 0;
              }

              &:hover {
                background: $primary-color;
                color: $white;
              }
            }
          }

          &:hover .dropdown-menu {
            opacity: 1;
            visibility: visible;

            .dropdown-item {
              padding: 20px;
            }
          }
        }
      }
    }
  }

  // Fixed Header State
  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include box-shadow(0 10px 20px 0 rgba(25, 25, 25, 0.1));
    background: $white;

    .navbar .navbar-nav {
      .nav-item.dropdown .dropdown-menu {
        margin-top: -10px;
      }

      .nav-item .nav-link {
        padding: 27px 25px;
      }
    }
  }

  // Header Style 2
  &.header-2 {
    &.fixed-header {
      background: $white;
    }

    .navbar .navbar-nav {
      .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
        color: $white;
      }

      .nav-item .nav-link:hover {
        color: $dark-color;
      }
    }

    .nav-btn {
      z-index: 1;
      font-weight: $font-weight-semibold;
      font-size: $font-size-base;
      color: $white;
      padding: 15px 30px 16px;
      line-height: 1;
      @include transition(all, 0.5s, ease);
      text-align: center;
      background-color: $primary-color;
      position: relative;
      overflow: hidden;
      @include border-radius($border-radius-sm);

      span {
        &::before {
          @include pseudo;
          top: 0;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(to bottom, $white, transparent);
          @include animation(top 2s linear infinite);
          animation-delay: 1s;
        }

        &::after {
          @include pseudo;
          bottom: 0;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(to top, $white, transparent);
          @include animation(bottom 2s linear infinite);
          animation-delay: 1s;
        }
      }

      &::before {
        @include pseudo;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, $white, transparent);
        @include animation(right 2s linear infinite);
      }

      &::after {
        @include pseudo;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, $white, transparent);
        @include animation(left 2s linear infinite);
      }

      &:hover {
        color: $white;
        background: $dark-color;
      }
    }
  }
}
